:root {
    --nav-link--color: #040101;
    --summer-house-border-color:#333030;
    --navbar-toggler--backround--color:#b59474;
    --story-section--backround--color:#f9f8f5;
    --navbar-toggler-icon--color:#333030;
    --reviews-section--background-color:#d2a659;
    --icon--color:#332F36;
    --hero-header-color: #fff;
}

body {
    font-family: 'Cinzel', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ballet',sans-serif;
}

/* -------------------------------------  Navbar */
.navbar {
    background-color: var(--navbar-toggler--backround--color);
} 
.nav-link {
    color: var(--nav-link--color);
    font-family: "Lato",sans-serif;
    font-size: larger;
    justify-content: center;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--nav-link--color);
    border: solid transparent;
    border-radius: 5px;

}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #f9f8f5;
    border: #d2a659;
    border-style: solid;
    border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link:active {
    color: #f9f8f5;
    border: #d2a659;
    border-style: solid;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}
.navbar-light .navbar-nav .nav-link.active {
    background-color:rgba(0,0,0,0.3);
}
.container-fluid { 
    overflow: hidden;
    margin: 0;
    padding: 0;
}
/* This code makes logo circle */
.logo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
/* This code will display smaller logo on mobile devices */
@media screen and (max-width:653px) {
    .logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.navbar-text {
    font-family: "Cinzel",sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    color: var(--nav-link--color);
}
.navbar-toggler {
    border-style: none;
    background-color: var(--navbar-toggler--backround--color);
}
a.nav-link.current-page {
    text-decoration: underline 5px solid #d2a659;
}

/* -------------------------------------  Hero Image*/
#hero-image-bg{
    background: url(../images/background-pic.webp);
    background-repeat:no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: bottom left; 
    background-attachment: fixed;
}
.hero-divider{
    width: 200px;
    height: 9px;
    color: var(--reviews-section--background-color);
    background-color: var(--reviews-section--background-color);
}
.hero-container {
    background-color:rgba(11, 11, 11, 0.57);
    height: 90vh;
    display: block;
    position: relative;
    text-align: center;
    padding: 280px 20px;
}
.hero-text {
    color:  var(--hero-header-color);
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Cinzel',sans-serif;
}
.hero-header {
    font-family: 'Ballet',sans-serif;
    font-weight: 500;
    font-size: 65px;
    color: var(--hero-header-color);
}

/* -------------------------------------  Headers*/
h2,h3,h4 {
    display: block;
    font-family: "Cinzel",sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    color: var(--nav-link--color);
    padding: 45px;
}
h6 {
 font-family: "Roboto",sans-serif;
 margin-top: 35px;
}
/* -------------------------------------  Our story section */
.story-text {
    display: block;
    font-size: 18px;
    font-family: "Lato",sans-serif;
    text-align: center;
    color: #333030;
    white-space: normal;
    margin-left: 25px;
    margin-right: 25px;
}
.summer-house {
    display: block;
    margin:42px auto 32px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 16px;
    border-style: dashed;
    border-width: 1px;
    border-color: var(--summer-house-border-color);
}
.story-section {
    background-color: var(--story-section--backround--color);
    padding: 40px 30px;
}
.story-link {
    color: #332F36;
}
a:hover {
    color: #332F36;
}
/* -------------------------------------  Reviews section */
.reviews-section {
    font-family: "Roboto",sans-serif;
    text-align: center;
    background-color: var(--reviews-section--background-color);
}
 .reviews-text {
    text-align: center;

    padding:20px;
}
.reviews-text i {
    font-size: 35px;
}
/* -------------------------------------Fontawesome icons */
.icon {
    color: var(--icon--color);
    font-size: 30px;
    padding-top: 10px;
    text-align: center;

}
/* ------------------------------------Google maps sizing */
.gmap-style {
    width:100%;
    height: 400px;
}

/* -------------------------------------Our wines section */
.wine-headers {
    font-family: "Cinzel",sans-serif;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 2rem;

}
.wine-photos {
    display: block;
    width:90%;
    height: 100%;
    padding: 20px;
    margin:auto;
}
.wine-text {
    font-family: "Lato",sans-serif;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 70px;
    letter-spacing: 3px;
    line-height: 2rem;
}
.wine-buttons {
    display: block;
    position: absolute;
    justify-content: center;
    width:60%;
    bottom: 20px;
    left:20%;
    border-radius: 23px;
    background-color: #343a40;
    color: var(--story-section--backround--color);
    border: solid transparent;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
    color: var(--story-section--backround--color);
    border: #d2a659;
    border-style: solid;
    border-radius: 23px;
}
.wines-selection {
    background-color: var(--story-section--backround--color);
    padding: 20px 50px;
}
/* ----------------------------------------- Contact form section */
.contact-bg {
    background: url(../images/grapes.webp) no-repeat bottom right scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}
.contact-row {
    padding: 80px 0;
}

.jumbo-container {
    background-color: transparent;
    text-align: center;
}
.form-control {
    background-color:rgba(20, 19, 19, 0.7);
    color: var(--story-section--backround--color);
}
.contact-label {
    color: var(--story-section--backround--color);
}
.form-control::placeholder {
    color:var(--story-section--backround--color);
}
.form-control::placeholder:focus {
    color: red;
}
.contact-button {
    background-color: var(--reviews-section--background-color);
    margin-top: 33px;
    color: var(--nav-link--color);
}
.contact-divider {
    background-color: var(--icon--color);
    color: var(--icon--color);
    width: 100px;
    height: 9px;
}
.form-cover {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}
.btn-dark {
    border-radius: 23px;
    width: 60%;
    border: solid transparent;
}

.btn-dark:hover {
    color: #f9f8f5;
    border: #d2a659;
    border-style: solid;
    border-radius: 5px;
    text-decoration: none;
    border-radius: 23px;
    width: 60%;
}
/* -----------------------------------------Gallery section */

.gallery-image {
    width: 97%;
    height: 55vh; 
    padding: 0px;
    margin: 30px 0px 30px 0px;
    box-shadow: -11px 2px 18px 0px rgb(8,8, 8,0.7);
    
}
.gallery-image:hover {
    position: relative;
    animation: ease-in-out;
    animation-name: zoom-image;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
    
}
@keyframes zoom-image {
    from { transform: scale(1);

    }
    to { transform: scale(1.1);

    }
}

 .gallery-container {
     background-color: var(--story-section--backround--color);
     margin-top: 4rem;
     margin-bottom: 4rem;
     padding: 20px 50px 20px 50px;
 }
 .gallery-section {
     padding-right: 20px;
     padding-left: 20px;
 }
 .gallery-text {
     color:transparent;
 }
 .gallery-text:hover,
 .gallery-text:focus,
 .gallery-text:active {
     color: var(--nav-link--color);
 }
 /* --------------------------------------------------Footer */
footer {
    background-color: #332F36;
    color:#f9f8f5;
    text-align: center; 
}
.media-links .list-inline-item a {
    color: #b59474;
    text-decoration: none;
}
.media-links .list-inline-item a:hover {
    color: #f9f8f5;
    border: #d2a659;
    width: 15px;
    height: 15px;
    text-decoration: none;
}
.media-links {
    padding: 18px;
}
.media-icon {
    width: 36px;
    font-size: 30px;
    padding: 8px; 
    margin: 0 20px;
}
/* This code removes margin between social media icons and
makes summer house image smaller- issue with Galaxy Fold or simillar*/
@media screen and (max-width:280px) {
.media-icon {
    width: 36px;
    font-size: 30px;
    padding: 8px; 
    margin: 0;
    }
 .summer-house {
    display: block;
    margin:42px auto 32px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 16px;
    border-style: dashed;
    border-width: 1px;
    border-color: var(--summer-house-border-color);
}
.hero-container {
        background-color:rgba(31, 28, 25, 0.253);
        height: 90vh;
        display: block;
        position: relative;
        text-align: center;
        padding: 180px 20px;
}
}
