body {
    font-family: 'Satisfy', cursive;
}

/* -------------------------------------  Navbar */
.nav-link {
    color:#fafafa;
}
a.navbar-brand{ 
    color: beige;
}
a {
    background-color: transparent;
    text-decoration: none;
}



.container-fluid {
    margin: 0;
    padding: 0;
}